<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="https://res.cloudinary.com/dnuhwt9dg/image/upload/v1749904986/logooffice_scs66p.jpg" width="40" height="40" class="rounded-circle d-inline-block align-top">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/employees">Home</a>
        <a class="nav-link" href="/dept">Departments</a>
        <a class="nav-link" href="/employees/new">Add new Employee</a>
        <a class="nav-link" href="/dept/new">Add new Department</a>
      </div>
      <form class="d-flex flex-grow-1 justify-content-center mx-3" role="search" method="GET" action="/employees" style="max-width: 500px;">
        <input name="search" class="form-control me-2 flex-grow-1" type="search" placeholder="Search by name or email" value="<%= typeof searchTerm !== 'undefined' ? searchTerm : '' %>" />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <div class="navbar-nav ms-auto">
        <% if (!currentUser) { %>
          <a class="nav-link" href="/login">Login</a>
          <a class="nav-link" href="/signup">Sign Up</a>
        <% } else { %>
          <span class="nav-link disabled">Welcome, <%= currentUser.role %> 👋 </span>
          <a class="nav-link" href="/logout">Logout</a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
